# Homework 4:  Concatenation, Merging, String Processing (6,7)

In [2]:
import pandas as pd
import numpy as np

pd.Series()
df=pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df.T
df.index
df.columns
df.sort_values(by='C')
df['A']

df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95])
df.max(skipna=False)
df.min()
df.sum()
df.mean()
df.unique()

df.idxmax()
df.iloc
df.value_counts()

df[['A', 'B']]
(df['A']>1) & (df['B']>1)
df[df['A']>1, 'B']

df.loc[df['A']==3.14, 'A']=0
df.sort_values(by='A')
df.pivot_table(values='Name', aggfunc=np.sum, index='Row', columns='Column')
df.melt(id_vars=None, value_vars=None, var_name=None, value_name='value')

dfC = pd.concat([dfA,dfB])
df = df.merge(dfB, on=[...], left_on=[...], right_on=[...])

Some functions we have learned:

- pd.Series() 
- df=pd.DataFrame({'A': 1., 'B': pd.Timestamp('20130102'), 'C': pd.Series(1, index=list(range(4)), dtype='float32'), 'D': np.array([3] * 4, dtype='int32'), 'E': pd.Categorical(["test", "train", "test", "train"]), 'F': 'foo'}) 
- df.T 
- df.index 
- df.columns 
- df.sort_values(by='C') 
- df['A'] df.describe(include=['number', 'category', 'all'], percentiles=[.05, .25, .75, .95]) 
- df.max(skipna=False) 
- df.min() 
- df.sum() 
- df.mean() 
- df.unique() 
- df.idxmax() 
- df.iloc 
- df.value_counts() df[['A', 'B']] 
- (df['A']>1) & (df['B']>1) 
- df[df['A']>1, 'B'] 
- df.loc[df['A']==3.14, 'A']=0 df.sort_values(by='A') 
- df.pivot_table(values='Name', aggfunc=np.sum, index='Row', columns='Column') 
- df.melt(id_vars=None, value_vars=None, var_name=None, value_name='value') 
- dfC = pd.concat([dfA,dfB]) 
- df = df.merge(dfB, on=[...], left_on=[...], right_on=[...])

In [3]:
FileA=pd.read_csv('https://raw.githubusercontent.com/richard-alexander/Data_Science_Course/master/Pandas/Slide_AnalysisA.csv')
FileB=pd.read_csv('https://raw.githubusercontent.com/richard-alexander/Data_Science_Course/master/Pandas/Slide_AnalysisB.csv')
Mapper=pd.read_csv('https://raw.githubusercontent.com/richard-alexander/Data_Science_Course/master/Pandas/Slide_Mapper.csv')

In [4]:
FileA.head()

,Folder,File,Spots,Area,DMax,Dmin,Smax,Smin,Garbage
0,S:\micro\asa\cgh\smc\20200303_3PO_ScreenA\2020...,Plate003_Well2_Object2.tif_projection.tif,0,11639576,661.4024,110.0419,1819,126,NaN
1,S:\micro\asa\cgh\smc\20200303_3PO_ScreenA\2020...,Plate003_Well1_Object4.tif_projection.tif,1,5042555,2362.7571,125.9414,1969,151,NaN
2,S:\micro\asa\cgh\smc\20200303_3PO_ScreenA\2020...,Plate007_Well1_Object2.tif_projection.tif,489,1515167,12584.0840,141.2762,2509,254,NaN
3,S:\micro\asa\cgh\smc\20200303_3PO_ScreenA\2020...,Plate003_Well2_Object6.tif_projection.tif,7,10463116,1549.1947,127.4712,1848,157,NaN
4,S:\micro\asa\cgh\smc\20200303_3PO_ScreenA\2020...,Plate002_Well4_Object1.tif_projection.tif,31,7595761,2527.1138,111.0442,1887,133,NaN

**Exercise 1:** FileA and FileB are results from the same experiment, concatenate them into a single dataframe Results.  FileA has an extra column "Garbage" that we need to get rid of and don't want in our Results dataframe.

In [5]:
# YOUR CODE HERE

**Exercise 2:**  Results['File'] contains the Plate and Well that the data was taken from.  We need to use `split()` and indexing to get those numbers out and put into new columns:  Results['Plate'] and Results['Well']

In [6]:
# YOUR CODE HERE

Later on it will be important that Results['Plate'] and Results['Well'] are integers and not strings, this code will make sure that is the case.  
DO NOT DELETE THIS CODE

In [1]:
# RUN THIS CELL
# DO NOT DELETE
Results['Plate']=Results['Plate'].astype(int)
Results['Well']=Results['Well'].astype(int)

In [2]:
Results.tail()

Now let's have a look at Mapper.

In [9]:
Mapper.head()

  Slide no. Drug Time point  Plate no.  Well no.
0    Slide1  NAC       0dpa          5         1
1    Slide2  NAC     0.3dpa          5         2
2    Slide3  NAC       1dpa          5         3
3    Slide4  NAC       2dpa          5         4
4    Slide5  NAC       4dpa          6         1

Mapper contains a mapping of well/plate to the actual biological info:  the drug and the time point.

**Exercise 3:**  Merge Results and Mapper into a new dataframe called LabeledResults.  Note that we need to merge on two columns (Plate and Well) and that their naming is slightly different in Results and Mapper.

In [10]:
# YOUR CODE HERE

**Exercise 4:**  For this experiment, we are interested in the spots per unit area.  Make a new column in LabeledResults called 'Density' that calculates that value, multiplied by 10000 for convenience.

In [11]:
# YOUR CODE HERE

**Exercise 5:**  There are multiple Density measurements for each Drug/Time combination, aggregate their mean into a new table (Means) using pivot_table.  Make the time points the rows and the drug the columns.

In [12]:
# YOUR CODE HERE

**Exercise 6:**  Unfortunately this does not order things properly in the Time points. look up `.reindex` or find another solution for fixing that so that the time points go 0, 0.3, 1, 2, 4, 8.

In [13]:
# YOUR CODE HERE